body {
    background-color: #222831;
}

@font-face {
    font-family: 'Ground';
    src: url('../fonts/Groundation.ttf') format('truetype');
  }
@font-face {
    font-family: 'Toast';
    src: url('../fonts/SuperToast.ttf') format('truetype');
  }

.coverImgProfile {
    border:1px solid white; 
    width: 400px; 
    /*height:215px;*/ 
    position:absolute;
    top:100px;
    border-radius:.5rem; }

.profileContainer {
    background-color: rgb(30,60,85);
    padding: .5rem;
    border: 1px solid rgb(20,20,40);
    border-radius: .5rem;
    margin-top: 1rem;
    margin-left: 3rem;
    display:flex;
    width: 80%;
}

.profileInput {
  display: block;
  border: 1px solid black;
  border-radius: .5rem;
  padding: .5rem;
  margin: .5rem;
  background-color: rgba(0,0,0,.5);
}

.profileInput2{
  background-color: rgb(30,60,85);
  padding: .5rem;
  border: 1px solid black;
  border-radius: .5rem;
  display: flex;
  margin-left: 3rem;
  margin-top: 1rem;
  width: 80%;
}

.profileImage{
  display: block;
  border: 1px solid black;
  border-radius: .5rem;
  padding: .5rem;
  margin: .5rem;
  background-color: rgba(0,0,0,.5);
}